In [73]:
import pandas as pd
a = pd.read_csv('accounts.csv')
c = pd.read_csv('contracts.csv')
c['closingDate'] = pd.to_datetime(c['closingDate'])
c['paymentDate'] = pd.to_datetime(c['paymentDate'])
c['accountID'] = c['contractID'].apply(lambda x:x.split('-')[1])
c['number'] = c['contractID'].apply(lambda x:x.split('-')[2])
def days_between(d1, d2):
    return (d2 - d1).days
c['days_passed'] = c[['closingDate','paymentDate']].apply(lambda row: days_between(row.closingDate,row.paymentDate),axis=1)
df = pd.merge(a,c,on='accountID')
df = df.sort_values(by='closingDate').reset_index().drop('index',axis=1)

In [90]:
from datetime import datetime, timedelta
def date_minus_days(date,days):
    date_format = "%Y-%m-%d"
    date1 = datetime.strptime(date, date_format)
    return (date1 - timedelta(days)).date().strftime("%Y-%m-%d")
date_minus_days('2018-12-11',45)

'2018-10-27'

In [126]:
df_45_18 = df[(df['closingDate']<=date_minus_days('2018-12-11',45)) & (df['paymentDate'].isnull())]
df_45_18 = df_45_18[['region','contractSize']].groupby('region').sum()

Select all rows where closing date was in 2017

In [165]:
from functools import reduce
df_2017 = df[(df['closingDate']<'2018-01-01')&(df['closingDate']>='2017-01-01')]
df_2017_4590 = df_2017[(df_2017['days_passed']>=45)&(df_2017['days_passed']<90)]
df_2017_4590 = df_2017_4590[['region','contractSize']].groupby('region').sum().reset_index()
df_2017_90135 = df_2017[(df_2017['days_passed']>=90)&(df_2017['days_passed']<135)]
df_2017_90135 = df_2017_90135[['region','contractSize']].groupby('region').sum().reset_index()
df_2017_135 = df_2017[(df_2017['days_passed']>135)]
df_2017_135 = df_2017_135[['region','contractSize']].groupby('region').sum().reset_index()
df_2017_4590.columns = ['region','2017_Paid_45_90days']
df_2017_90135.columns = ['region','2017_Paid_90_135days']
df_2017_135.columns = ['region','2017_Paid_135days']
l_2017 = [df_2017_4590,df_2017_90135,df_2017_135]
late_payments_2017 = reduce(lambda x, y: pd.merge(x, y, on = 'region',how='outer'), l_2017)
late_payments_2017.fillna(0,inplace=True)
late_payments_2017

          region  2017_Paid_45_90days  2017_Paid_90_135days  2017_Paid_135days
0           APAC              10237.0               32036.0             1521.0
1         Africa               3030.0                8936.0                0.0
2           EMEA              40759.0               40891.0             1259.0
3  Latin America               2904.0                7605.0              230.0
4  North America              29022.0               46410.0             1239.0

In [166]:
df_45_18 = df[(df['closingDate']<=date_minus_days('2018-12-11',45)) & (df['paymentDate'].isnull())]
df_45_18 = df_45_18[['region','contractSize']].groupby('region').sum().reset_index()
df_90_18 = df[(df['closingDate']<=date_minus_days('2018-12-11',90)) & (df['paymentDate'].isnull())]
df_90_18 = df_90_18[['region','contractSize']].groupby('region').sum().reset_index()
df_135_18 = df[(df['closingDate']<=date_minus_days('2018-12-11',135)) & (df['paymentDate'].isnull())]
df_135_18 = df_135_18[['region','contractSize']].groupby('region').sum().reset_index()

df_45_18.columns = ['region','2018_Paid_45_days']
df_90_18.columns = ['region','2018_Paid_90_days']
df_135_18.columns = ['region','2018_Paid_135days']

l_2018 = [df_45_18,df_90_18,df_135_18]
late_payments_2018 = reduce(lambda x, y: pd.merge(x, y, on = 'region',how='outer'), l_2018)
late_payments_2018.fillna(0,inplace=True)
late_payments_2018

          region  2018_Paid_45_days  2018_Paid_90_days  2018_Paid_135days
0           APAC             4331.0              525.0                0.0
1         Africa             1235.0              197.0                0.0
2           EMEA            10419.0             1889.0                0.0
3  Latin America              878.0              172.0                0.0
4  North America             7904.0             1786.0                0.0

The accounts table looks relatively clean.